{% extends 'base1.html' %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}
    <div class="main">
        <ul>
            {% for cat in categories %}
                <a href="{% url 'cat_detail' cat.pk %}">{{cat.title}}</a><br/>
            {% endfor %}
            {% for ls in last %}
                <a href="{% url 'image' ls.id %}">
                        {% if ls.approved   %}
                        <a href="{% url 'image' ls.id %}">
                            <img border="0" alt="" src="{{ media_url }}{{ ls.image.name }}" height="100"/></a>
                        {% endif %}
            {% endfor %}
            {% for img in images %}
                <a href="{% url 'image' img.id %}">{{ i.title}}<img border="0" alt="" src="{{ media_url }}{{ img.image.name }}" height="100"/></a></a>
        {% endfor %}
        <!-- Next/Prev page links  -->
        {% if images.object_list and images.paginator.num_pages > 1 %}
            <div class="pagination">
            <span class="step-links">
                {% if images.has_previous %}
                    <a href="?page={{ images.previous_page_number }}">previous &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    &nbsp;Page {{ images.number }} of {{ images.paginator.num_pages }}
                </span>

                {% if images.has_next %}
                    <a href="?page={{ images.next_page_number }}"> &gt;&gt; next</a>
                {% endif %}
            </span>
            </div>
        {% endif %}

    </div>
{% endblock %}