{% extends 'base1.html' %}
{% load staticfiles %}
{% block login %}
    <div class="form-group">
        <form action="login" method="post" class="form-horizontal">
            {% csrf_token %}
            <label for="username" class="control-label">Username:</label>
            <input type="text" name="username" id="username" class="form-control">
            <label for="password" class="control-label">Password:</label>
            <input type="password" name="password" id="password" class="form-control">
            <button type="submit" class="btn">Submit</button>
            {% if not user %}
                <div class="alert-danger">
                    <label class="errors">{{ login_error }}</label>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}