{% extends 'base1.html' %}
{% load staticfiles %}
{% block content %}
    <div class="main">


        <a href="{{ backurl }}">&lt;&lt; back</a>
        <!-- Image -->
        <ul>
            {% if image.title %}
                <div class="title">{{ image.title }}</div>
            {% endif %}

            <ul>
                <a href="{{ media_url }}{{ image.image.name }}">
                    <img border="0" alt="" src="{{ media_url }}{{ image.image.name }}"
                         {% if image.width > 700 %}width="700"{% endif %}/></a>
            </ul>
        </ul>
        {% if image.user == user %}
            <button type="button" class="btn btn-default" id="edit">Edit</button>
            <form method="POST" action="{% url 'update' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if errors %}
                <p>{{ errors }}</p>
            {% endif %}
            <button type="submit" class="btn btn-default">Submit</button></form></div>
        {% endif %}
{% endblock %}